
  
      <header class="d-flex flex-wrap justify-content-center  flex-md-row  ">
        <a href="/" class="logo-link d-flex align-items-center  mb-md-0 me-md-auto link-body-emphasis text-decoration-none iconmove">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class=" fw-bolder icon" style="font-size: 40px;"  >rAN<span class=" fw-bolder icon" style="font-size: 33px;">d</span>IME</span>
        </a>
        
  
        <ul class="nav nav-pills">
          <li class="nav-item" ><a href="/"   aria-current="page" class="nav-link active fw-bold text-dark text320-1" >Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link"></a></li>
          <li class="nav-item"> 
              <form action="/results" method="POST"> 
              <button type="submit" class="nav-link  fw-bold text-dark text320-1" class="btn btn-secondary btn-lg " name="randomButton"  value="true" class="randomButton" >
                  Random Anime
              </button>
          </form></li>
          <li class="nav-item"><a href="#" class="nav-link" ></a></li>
          <li class="nav-item"><a href="/about" class="nav-link  fw-bold text-dark text320-1" >About</a></li>
        </ul>
      </header>
   

